<a href="https://colab.research.google.com/github/Catherine-ITBA3205/ITBA3205_DataAnalyticalResearchTeam-DART-/blob/main/Population_Growth_Rate_Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Total Population,Household Population,Number of Housesholds,and Average Household size in the Philippines 2020**

*Source: Philippine Statistics Authorithy*

In [2]:
!pip install xlrd
!pip install psycopg2

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import psycopg2 as ps

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

**Total Population**

In [3]:
url = 'https://github.com/Catherine-ITBA3205/ITBA3205_DataAnalyticalResearchTeam-DART-/blob/main/DATASETS/Total%20Population.xlsx?raw=true'
dataset = pd.read_excel(url)
display(dataset.iloc[2:,0:2])

                                         Unnamed: 0        Unnamed: 1
2       Region, Province, and Highly Urbanized City  Total Population
3                                               NaN               NaN
4                                       Philippines         109035343
5                                               NaN               NaN
6                     National Capital Region (NCR)          13484462
..                                              ...               ...
154  Maguindanao (including the City of Cotabato) 3           1667258
155                                            Sulu           1000108
156                                       Tawi-Tawi            440276
157                               Interim Province             215433
158      (composed of 63 barangays from Cotabato) 3               NaN

[157 rows x 2 columns]

**Household Population**

In [4]:
url = 'https://github.com/Catherine-ITBA3205/ITBA3205_DataAnalyticalResearchTeam-DART-/blob/main/DATASETS/Total%20Population.xlsx?raw=true'
dataset = pd.read_excel(url)
display(dataset.iloc[2:,:4:2])

                                         Unnamed: 0            Unnamed: 2
2       Region, Province, and Highly Urbanized City  Household Population
3                                               NaN                   NaN
4                                       Philippines             108667043
5                                               NaN                   NaN
6                     National Capital Region (NCR)              13403551
..                                              ...                   ...
154  Maguindanao (including the City of Cotabato) 3               1666353
155                                            Sulu                998675
156                                       Tawi-Tawi                438545
157                               Interim Province                 215348
158      (composed of 63 barangays from Cotabato) 3                   NaN

[157 rows x 2 columns]

**Number of Households**

In [5]:
url = 'https://github.com/Catherine-ITBA3205/ITBA3205_DataAnalyticalResearchTeam-DART-/blob/main/DATASETS/Total%20Population.xlsx?raw=true'
dataset = pd.read_excel(url)
display(dataset.iloc[2:,:5:3])

                                         Unnamed: 0              Unnamed: 3
2       Region, Province, and Highly Urbanized City  Number \nof Households
3                                               NaN                     NaN
4                                       Philippines                26393906
5                                               NaN                     NaN
6                     National Capital Region (NCR)                 3499652
..                                              ...                     ...
154  Maguindanao (including the City of Cotabato) 3                  287284
155                                            Sulu                  166140
156                                       Tawi-Tawi                   74768
157                               Interim Province                    47668
158      (composed of 63 barangays from Cotabato) 3                     NaN

[157 rows x 2 columns]

**Average Household Size**

In [6]:
url = 'https://github.com/Catherine-ITBA3205/ITBA3205_DataAnalyticalResearchTeam-DART-/blob/main/DATASETS/Total%20Population.xlsx?raw=true'
dataset = pd.read_excel(url)
display(dataset.iloc[2:,:5:4])

                                         Unnamed: 0                 Unnamed: 4
2       Region, Province, and Highly Urbanized City  Average \nHousehold Size
3                                               NaN                        NaN
4                                       Philippines                   4.117126
5                                               NaN                        NaN
6                     National Capital Region (NCR)                   3.829967
..                                              ...                        ...
154  Maguindanao (including the City of Cotabato) 3                   5.800368
155                                            Sulu                   6.011045
156                                       Tawi-Tawi                    5.86541
157                               Interim Province                    4.517664
158      (composed of 63 barangays from Cotabato) 3                        NaN

[157 rows x 2 columns]