<a href="https://colab.research.google.com/github/Catherine-ITBA3205/ITBA3205_DataAnalyticalResearchTeam-DART-/blob/main/Population_Growth_Rate_Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Total Population by Geographic Location (2010-2015censuses)**

*Source: Philippine Statistics Authorithy*

In [4]:
!pip install xlrd
!pip install psycopg2

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import psycopg2 as ps

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [8]:
url = 'https://github.com/Catherine-ITBA3205/ITBA3205_DataAnalyticalResearchTeam-DART-/blob/fa18ba029c3d3e060e90c2339d9ad65af045503a/DATASETS/Table%20A%20-%20Population%20and%20Annual%20Growth%20Rate%20for%20the%20Philippines%20and%20its%20Regions,%20Provinces,%20and%20Highly%20Urbanized%20Cities_AGBA_0.xlsx?raw=true'
dataset = pd.read_excel(url)
dataset.head()

,"A. POPULATION AND ANNUAL GROWTH RATE FOR THE PHILIPPINES AND ITS REGIONS, PROVINCES, AND HIGHLY URBANIZED CITIES",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,"BASED ON THE 2000, 2010, 2015, AND 2020 CENSUSES",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"REGION, PROVINCE, AND HIGHLY URBANIZED CITY",NaN,TOTAL POPULATION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POPULATION GROWTH RATE\n(in percent),NaN,NaN,NaN
3,NaN,NaN,2000-05-01 00:00:00,NaN,2010-05-01 00:00:00,NaN,2015-08-01 00:00:00,NaN,2020-05-01 00:00:00,NaN,2000-2010,2010-\n2015,2015-\n2020,2010-\n2020
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN